@import "./reset.css";
@import "./variables.css";
@import "./global.css";
@import "./components/header.css";
@import "./components/hero.css";

/*--secondary-light-blue: #EAF7F9;


*/

/* Accent Colors */
/* --accent-yellow: #FFC107;
  --accent-white: #FFFFFF; */

/* Additional Colors */
/* --gray-bg: #F2F2F2;
  --text-black: #000000;
  --text-gray: #BFBFBF; */
