/* reset start */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}
/*reset end*/

/* variables*/

:root {
  --color-primary: #009688;
  --color-primary-dark: #3cab90;
  --color-primary-light-1: #a7dabd;
  --color-primary-light-2: #84bd3a;

  --color-secondary: #ffbb1c;

  --color-white: #ffffff;
  --color-black: #101828;

  --main-dark-blue: #002529;
  --color-logo-bg: #0b9586;

  --container-width: 113.552rem;
  --font-size: 1.8rem;
  --resposive-font-size: 1.5rem;
}

/* Global style*/
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

/* Hader start */
.header {
  background-color: var(--color-primary);
  padding: 1.6rem 0;
}

.header__logo {
  mix-blend-mode: multiply;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  font-weight: 300;
  line-height: 2.178rem;
  letter-spacing: 0.09374999403953552rem;
  color: var(--color-white);
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
}
.header__nav-link {
  padding: 8px 28px 8px 28px;
}

.header__nav-link.active {
  font-weight: 600;
  background: #0000000f;
  border-radius: 5px;
  border-bottom: 3px solid #0000004d;
}

.header__info {
  text-align: right;
}
.header__info-num {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.09374999403953552rem;
}
/* header end*/
/* Responsive Header Start*/
@media (max-width: 1125px) {
  .header {
    padding: 1.6rem 2rem;
  }
  .header__container {
    font-size: var(--resposive-font-size);
  }
}
/* Responsive Header End*/

/*--secondary-light-blue: #EAF7F9;


*/

/* Accent Colors */
/* --accent-yellow: #FFC107;
  --accent-white: #FFFFFF; */

/* Additional Colors */
/* --gray-bg: #F2F2F2;
  --text-black: #000000;
  --text-gray: #BFBFBF; */
