/* Base Styles */
.about__content {
  display: grid;
  grid-template-columns: 59.4rem 51.852rem;
  column-gap: 2.3rem;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__heading {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about__title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.083rem;
  letter-spacing: -0.02em;
  text-align: left;
}

.about__description {
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  color: var(--color-text--gray);
}

.about__list {
  display: flex;
  gap: 1rem;
}

.about__list-bullet {
  display: flex;
  flex-direction: column;
}

.about__list-items {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: left;
}

.about__list-item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.list-bullet {
  color: var(--color-list);
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 4px;
  text-align: left;
}

.list-bullet:not(:last-child) {
  margin-bottom: 1.2rem;
}

/* about Image */
.image-container {
  text-align: right;
  position: relative;
}

.overlay-box {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 266px;
  height: 208px;
  padding: 24px 30px;
  border-radius: 12px;
  background-color: var(--color-secondary);
  text-align: left;
}

.box-text {
  font-family: Akazan;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 2.095rem;
  letter-spacing: 0.9374999403953552px;
  text-align: left;
  margin-top: 2.8rem;
}

/* Responsive Adjustments */
@media (max-width: 900px) {
  .about__content {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto;
    row-gap: 2rem;
    max-width: 60rem; /* Limit max-width for readability */
    margin: 0 auto; /* Center content */
    overflow: hidden;
  }

  /* Maintain element widths */
  .about__content > * {
    max-width: 59.4rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .about__title {
    font-size: 3rem; /* Reduce font size for mobile */
    line-height: 4rem;
  }
  .about__heading {
    max-width: 400px;
  }
  .image-container {
    max-width: 400px;
    width: 100%;
    overflow: hidden;
  }

  .about__description,
  .about__list-items {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .overlay-box {
    width: 220px;
    height: 180px;
    padding: 16px 20px;
  }

  .box-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 1.8rem;
  }
}
