.about__content {
  display: grid;
  grid-template-columns: 59.4rem 51.852rem;
  column-gap: 2.3rem;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about__heading {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about__title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.083rem;
  letter-spacing: -0.02em;
  text-align: left;
}
.about__description {
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  color: var(--color-text--gray);
}
.about__list {
  display: flex;
  gap: 1rem;
}

.about__list-bullet {
  display: flex;
  flex-direction: column;
}
.about__list-items {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: left;
}

.about__list-item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.list-bullet {
  color: var(--color-list);
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 4px;
  text-align: left;
}
.list-bullet:not(:last-child) {
  margin-bottom: 1.2rem;
}
