.offer {
  background-image: url("../../images/offer.webp");
  background-size: cover;
  height: 50.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer__content {
  width: 85.8rem;
  padding: 4.4rem;
  border-radius: 1.2rem;
  background: #00000091;
  color: var(--color-white);
  backdrop-filter: blur(24px);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.offer__heading {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.083rem;
}

.offer__desc {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
}
