.shop {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.shop__text {
  text-align: center;
  width: 93.6rem;
  margin: 0 auto;
}

.shop__title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.083rem;
}

.shop__description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--color-text-gray);
  margin-top: 2.4rem;
}

.cards__layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.shop__card {
  box-shadow: 0px 4px 30px 0px #0000000d;
  max-width: 100%; /* Ensure card scales with container */
}

.card-desc {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.card-category {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: left;
  color: var(--color-black);
}

.card-description {
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
  color: var(--color-text-gray);
}

.card-view {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.card__link {
  font-size: var(--font-size-2);
  font-weight: 600;
  line-height: 2.4rem;
  text-align: left;
  color: var(--color-primary-dark);
}

.card__link:hover {
  color: var(--color-link);
}

/* Tablet (max-width: 900px) */
@media (max-width: 900px) {
  .shop__text {
    width: 100%;
    padding: 0 2rem;
  }

  .cards__layout {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
    max-width: 80%; /* Centers the layout and prevents overflow */
  }

  .shop__card {
    max-width: 100%; /* Maintain full width of column */
  }
}

@media (max-width: 747px) {
  .shop__text {
    width: 100%;
    padding: 0 1.5rem;
  }

  .cards__layout {
    grid-template-columns: 1fr;
    gap: 2.4rem;
    margin: auto;
  }

  .shop__card .card-img img {
    width: 100%;
    object-fit: cover;
  }
}
