.testimonial {
  display: grid;
  grid-template-columns: 40rem 1fr;
  column-gap: 3.2rem;
}

.testimonial__text {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  align-self: center;
}

.testimonial__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  text-align: left;
}

.testimonial__desc {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 3.2rem;
  text-align: left;
  color: #1c1c1c;
}

.testimonial__card {
  background-color: #3cab900f;
  padding: 4rem;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 8.7rem;
}

.testimonial__card-text {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}

.head-groub {
  display: flex;
  justify-content: space-between;
}

.head-text {
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 2.016rem;
  color: var(--color-primary-dark);
}

.main-text {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: left;
  color: var(--color-black);
}

.testimonial__footer {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-size: var(--font-size-2);
  line-height: 1.936rem;
  text-align: left;
  color: #1c1c1c;
}

.profile-name {
  font-weight: 700;
}

.profile-jop {
  font-weight: 400;
}

.testimonial__controls {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
  align-items: flex-start;
}

.footer__logo {
  mix-blend-mode: luminosity;
}

/* Tablet View (max-width: 900px) */
@media (max-width: 900px) {
  .testimonial {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .testimonial__title {
    font-size: 4rem;
    line-height: 5.5rem;
  }

  .testimonial__card {
    gap: 5.6rem;
  }

  .main-text {
    font-size: 2rem;
    line-height: 3rem;
  }
}

/* Mobile View (max-width: 600px) */
@media (max-width: 600px) {
  .testimonial__title {
    font-size: 3.2rem;
    line-height: 4.5rem;
    text-align: center;
  }

  .testimonial__text,
  .testimonial__card {
    padding: 2rem;
  }

  .testimonial__card-text,
  .profile-info {
    gap: 2.4rem;
  }

  .head-text {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .main-text {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
