.testimonial {
  display: grid;
  grid-template-columns: 40rem 1fr;
  column-gap: 3.2rem;
}

.testimonial__text {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.testimonial__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6.4rem;
  text-align: left;
}

.testimonial__desc {
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 3.2rem;
  text-align: left;
  color: #1c1c1c;
}
.testimonial__card {
  background-color: #3cab900f;
  padding: 4rem;
  border-radius: 2.4rem;
}

.testimonial__card-text {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}
.head-groub {
  display: flex;
  justify-content: space-between;
}
.head-text {
  /* font-family: Plus Jakarta Sans; */
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 2.016rem;
  color: var(--color-primary-dark);
}
.main-text {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: left;
  color: var(--color-black);
}
